[user]
	name = Stanley
	email = wangstanley910@gmail.com

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color]
	ui = true
  status = auto
  branch = auto
  diff = auto
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[core]
	excludesfile = /Users/stanley/.gitignore_global
	editor = nvim
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
; [merge "jupyternotebook"]
; 	driver = git-nbmergedriver merge %O %A %B %L %P
; 	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
