[user]
	name = Stanley
	email = wangstanley910@gmail.com

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color]
	ui = true
  status = auto
  branch = auto
  diff = auto
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	untrackedCache = true
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[difftool]
	prompt = false
[mergetool]
	prompt = false
