/*
!.gitignore
!README.md

!/kitty/
!/ghostty/
!/fastfetch/
!/nvim/
!/zsh/
!/git/
!/starship.toml
!/idea/
!/jetbrains/
!/cursor/
!/tmux/
tmux/*/
!/karabiner/
!/scripts/


# Explicitly ignore nvim backup files
nvim.bak/*
