
next_page J
previous_page K

next_page d 
previous_page u

# Zoom
zoom_in  =
fit_to_page_width +
zoom_out -

toggle_dark_mode <C-r>

move_left           <C-j>
move_right          <C-k>

close_window q



enter_visual_mark_mode <A-m>

# ---------- BOOKMARKS ----------
# Add a bookmark in the current location (opens a text input where you can specify the bookmark text)
add_bookmark b
#delete_bookmark db

# Open bookmarks menu of the current document.
goto_bookmark gb

# Open bookmarks menu of all documents.
goto_bookmark_g gB

# ---------- HIGHLIGHTS ----------
# You can select a piece of text and press the `add_highlight` shortcut followed by a symbol (a character from a-z) to highlight
# the text
add_highlight h
add_highlight_with_current_type H
# Goto highlights of current document
goto_highlight gh
# Goto highlights of all documents
goto_highlight_g gH
# Left click on a highlight and then press the `delete_highlight` shortcut to delete it.
#delete_highlight dh -- dev branch doesn't work with same prefix key currently

# Goto next/previous highlight in current document
goto_next_highlight gnh
goto_prev_highlight gNh


# Sets the highlight type to be used for other operations (the default highlight type is 'a')
set_select_highlight_type SH

toggle_select_highlight <A-h>

## Toggle fastread mode. this is an experiental feature
toggle_fastread <A-r>

## Toggle statusbar display
toggle_statusbar <A-b>


# Open a file dialog to select a document.
open_document O
# Open an embedded file dialog in sioyek
open_document_embedded <C-o>
# Open an embedded file dialog in sioyek rooted in the directory of current opened file
open_document_embedded_from_current_path <C-S-o>

# Open a searchable list of previously opened documents.
open_prev_doc o

# Toggle presentation mode
toggle_presentation_mode <C-p>

# regex_search R


new_window;open_prev_doc <C-t>

prev_state <C-o>
prev_state <A-q>
next_state <C-i>
next_state <A-d>
