
page_separator_width 5
page_separator_color 0.0 0.0 0.0

background_color    0.0 0.0 0.0
dark_mode_background_color    0.0 0.0 0.0




single_click_selects_words 0

## Custom commands to run when clicking or right clicking when modifier keys are pressed
## the command can be any built-in sioyek command (e.g. overview_under_cursor) or user-defined
## commands defined using `new_command`
# shift_click_command some_command
# control_click_command some_command
# alt_click_command some_command
# shift_right_click_command some_command
# control_right_click_command some_command
# alt_right_click_command some_command




# Use a super fast index for search instead of the mupdf's implementation
super_fast_search 1


should_launch_new_window 1
should_launch_new_instance 1
# case_sensitive_search 0


ui_font Berkeley Mono Def
status_font Berkeley Mono Def
